<h1>New Event</h1>
<h2>Details</h2>
<form>
  <div class="input-group">
    <span class="input-group-addon">Date</span>
    <input type="text" class="form-control" placeholder="">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Time</span>
    <input type="text" class="form-control" placeholder="">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Location</span>
    <input type="text" class="form-control" placeholder="">
  </div>
</form>
<h2>Invitees</h2>
<ul>
  <li ng-repeat="friend in friends">{{friend.name}}</li>
</ul>
